
/* ---------------------------------------------------

    SIDEBAR STYLE

----------------------------------------------------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 246px;
    padding: 10px 14px;
    transition: var(--trans-02);
  }
  .sidebar header {
    height:70px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    white-space: unset;
  }
  
  .sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    transition: var(--trans-04);
    white-space: unset;
    opacity: 1;
    
  }
  .user-icon{
    min-width: 37px;
    font-size: 30px;
    color:#f28123 ;
  }
  .header-text .main{
    text-transform: uppercase;
    font-weight: 600;
    color:#f28123 ;
    min-width: 60px;
    font-size: 30px;
  }
  
  .sidebar .menu-bar {
    height: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sidebar .menu-bar .menu-links{
   padding: 0;
  }
  .sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar li .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
  }
  .sidebar li .icons,
  .sidebar li .text {
    color: #ffffff;
    transition: var(--trans-03);
    text-align: center;
  }
  
  .sidebar li a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    border-radius: 6px;
    transition: var(--trans-04);
  }
  
  .sidebar li a:hover {
    background: #f28123;
  }
  
  .sidebar-active{
    background-color: #f28123;
  }
  